<manifest
    package="com.freshdesk.hotline"
    xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="1"
    android:versionName="1.0">

    <!-- [Mandatory] Hotline requires internet to send and receive messages -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- [Optional] Hotline needs RECORD_AUDIO permission to record voice messages -->
    <!-- Can be removed/negated if voice messaging is disabled -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <!-- [Optional] Hotline needs external storage access to store voice messages -->
    <!-- Can be removed/negated if voice messaging is disabled -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Google GCM Permissions -->
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />

    <!-- Keeps the processor from sleeping when a message is received. -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <uses-sdk android:minSdkVersion="10" />

    <application>

        <activity
            android:name="com.freshdesk.hotline.activity.ChannelListActivity"
            android:theme="@style/Theme.Hotline.SelectedTheme" />

        <activity
            android:name="com.freshdesk.hotline.activity.ConversationDetailActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.Hotline.SelectedTheme"
            android:windowSoftInputMode="stateHidden" />

        <activity
            android:name="com.freshdesk.hotline.activity.DeeplinkInterstitialActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Hotline.SelectedTheme" />

        <activity
            android:name="com.freshdesk.hotline.activity.PictureAttachmentActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.Hotline.SelectedTheme" />

        <activity
            android:name="com.freshdesk.hotline.activity.CategoryListActivity"
            android:theme="@style/Theme.Hotline.SelectedTheme" />

        <activity
            android:name="com.freshdesk.hotline.activity.ArticleListActivity"
            android:windowSoftInputMode="adjustResize"
            android:theme="@style/Theme.Hotline.SelectedTheme" />

        <activity
            android:name="com.freshdesk.hotline.activity.ArticleDetailActivity"
            android:theme="@style/Theme.Hotline.SelectedTheme" />

        <activity
            android:name="com.freshdesk.hotline.activity.InterstitialActivity"
            android:configChanges="orientation|screenSize"
            android:theme="@style/Theme.AppCompat" />

        <service android:name="com.freshdesk.hotline.service.HotlineService" />

        <receiver android:name="com.freshdesk.hotline.receiver.HotlineReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.freshdesk.hotline.receiver.AppUpdateReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED" />
            </intent-filter>
        </receiver>

    </application>

</manifest>